<div id="loading-overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>
<p class="text-center">© Copyright <%= new Date().getFullYear() %> nakn.jp</p>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>