<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include('../partials/head'); %>
    <title>教員用管理パネル | <%= process.env.ServiceName %></title>
    <script src="/js/tCreate.js"></script>
</head>
<body>
<header>
    <%- include('../partials/header'); %>
</header>
<main class="container">
    <h1>教員用管理パネル</h1>
    <p>これは教員向けの機能です。</p>
    <hr class="my-4">

</main>
<footer class="fixed-bottom">
    <%- include('../partials/footer'); %>
</footer>
</body>
</html>